.footer-container{
    background-color: rgb(26, 26, 26);
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-us{
    width: 450px;
}

.footer-texts{
    margin-top: 130px;
}

@media only screen and (max-width: 700px) {
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding-bottom: 30px;
    }
    .footer-container img{
        width: 300px;
    }
  }