.orderPlace-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.orderPlace-container img{
    border-radius: 5px;
}
.placeOrder-form-container{
    margin-left: 5rem;
    height: 550px;
    width: 500px;
    
    border:  1px solid gray;
    border-radius: 5px;
}